.relative {
  position: relative; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.push-up-sm {
  margin-top: 5px; }

.push-up-md {
  margin-top: 10px; }

.push-up-lg {
  margin-top: 20px; }

.pad-sm {
  padding: 5px; }

.pad-md, .form-control, .btn {
  padding: 10px; }

.pad-lg, .card-header, .card-footer, .btn-lg, .pad-space {
  padding: 20px; }

.pad-up-monster {
  padding-top: 40px; }

.pad-down-monster {
  padding-bottom: 40px; }

.pad-up-no {
  padding-top: 0px; }

.pad-down-no {
  padding-bottom: 0px; }

.bold {
  font-weight: bold; }

.hover:hover {
  opacity: 0.7; }

.tab {
  border-bottom: solid 3px transparent; }

.tab-active {
  border-bottom: solid 3px #f9c901; }

.tab:hover, .tab:focus {
  border-bottom: solid 3px #f9c901; }

.tab a:link {
  color: #555555;
  font-weight: bold; }

.bg-dark {
  background-color: #111111 !important;
  color: #fff; }

.bg-bee {
  background-color: #f9c901 !important;
  color: #111111; }

.text-red {
  color: #ff3333; }

.text-green {
  color: #00e676; }

.text-blue {
  color: #00b0ff; }

.text-bee {
  color: #f9c901; }

.text-placeholder {
  text-align: center;
  color: #bebebe; }

.text-mini {
  font-size: 0.9em;
  opacity: 0.7; }

body {
  background-color: #f4f4f4;
  color: #555555;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 21px; }

a:link {
  color: #00e676;
  text-decoration: none; }

a:hover, a:focus {
  opacity: 0.7; }

.headtext {
  font-weight: bold; }

.tree {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999; }

.rant {
  float: left;
  width: 100%;
  z-index: 99999999;
  background-color: #fff;
  box-shadow: 0 3px 7px #dedede; }

.hole {
  float: left;
  width: 100%;
  z-index: 99999999; }

.trunk {
  float: left;
  width: 100%;
  z-index: 99999999; }

.rock {
  float: left;
  width: 100%;
  z-index: 99999999; }

.hexagonal-1, .hexagonal-2, .hexagonal-3, .hexagonal-4, .hexagonal-5, .hexagonal-6, .hexagonal-7, .hexagonal-8, .hexagonal-9, .hexagonal-10, .hexagonal-11, .hexagonal-12, .hexagonal-sticky-1, .hexagonal-sticky-2, .hexagonal-sticky-3, .hexagonal-sticky-4, .hexagonal-sticky-5, .hexagonal-sticky-6, .hexagonal-sticky-7, .hexagonal-sticky-8, .hexagonal-sticky-9, .hexagonal-sticky-10, .hexagonal-sticky-11, .hexagonal-sticky-12 {
  float: left; }

.hexagonal-12, .hexagonal-sticky-12 {
  width: 100%; }

.hexagonal-11, .hexagonal-sticky-11 {
  width: 91.66667%; }

.hexagonal-10, .hexagonal-sticky-10 {
  width: 83.33333%; }

.hexagonal-9, .hexagonal-sticky-9 {
  width: 75%; }

.hexagonal-8, .hexagonal-sticky-8 {
  width: 66.66667%; }

.hexagonal-7, .hexagonal-sticky-7 {
  width: 58.33333%; }

.hexagonal-6, .hexagonal-sticky-6 {
  width: 50%; }

.hexagonal-5, .hexagonal-sticky-5 {
  width: 41.66667%; }

.hexagonal-4, .hexagonal-sticky-4 {
  width: 33.33333%; }

.hexagonal-3, .hexagonal-sticky-3 {
  width: 25%; }

.hexagonal-2, .hexagonal-sticky-2 {
  width: 16.66667%; }

.hexagonal-1, .hexagonal-sticky-1 {
  width: 8.33333%; }

.card {
  background: #fff;
  box-shadow: 0 3px 14px #dedede; }

.card-header {
  background: #fafafa; }

.card-footer {
  width: calc(100% - 10%);
  margin-left: 5%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background: #fff;
  color: #bebebe;
  box-shadow: 0 3px 14px #dedede;
  box-sizing: border-box; }

.card a:link {
  color: #00e676 !important;
  font-weight: normal !important; }

.card-footer a:link {
  color: #00b0ff !important;
  font-weight: normal !important; }

.card-radius {
  border-radius: 5px; }

.card-rounded {
  border-radius: 50px; }

.form-control {
  padding-left: 0px;
  width: 100%;
  border: 0px;
  border-bottom: solid 1px #bebebe;
  background: transparent;
  box-sizing: border-box;
  font-size: 1em;
  color: #555555; }

.form-control-border {
  padding-left: 10px;
  border: solid 1px #bebebe;
  border-radius: 3px; }

.form-control:focus {
  outline: none;
  border-bottom: solid 1px #555555; }

.form-control-border:focus {
  border: solid 1px #555555; }

.btn {
  width: auto;
  border: solid 1px #555555;
  border-radius: 3px;
  background: transparent;
  font-size: 1em;
  color: #555555; }

.btn-md {
  padding: 15px; }

.btn-block {
  width: 100%; }

.btn-bee {
  border: solid 1px #f9c901;
  background: #f9c901;
  color: #111111;
  font-weight: bold; }

.btn-red {
  border: solid 1px #ff3333;
  background: #ff3333;
  color: #fff;
  font-weight: bold; }

.btn-green {
  border: solid 1px #00e676;
  background: #00e676;
  color: #fff;
  font-weight: bold; }

.btn-blue {
  border: solid 1px #00b0ff;
  background: #00b0ff;
  color: #fff;
  font-weight: bold; }

.btn-line-bee {
  border: solid 1px #f9c901;
  color: #f9c901; }

.btn-line-red {
  border: solid 1px #ff3333;
  color: #ff3333; }

.btn-line-green {
  border: solid 1px #00e676;
  color: #00e676; }

.btn-line-blue {
  border: solid 1px #00b0ff;
  color: #00b0ff; }

.btn-flat {
  border-radius: 0px; }

.btn-rounded {
  border-radius: 50px; }

.btn:hover {
  opacity: 0.7; }

.btn:focus {
  outline: none; }

@media only screen and (max-width: 1080px) {
  .hexagonal-1, .hexagonal-2, .hexagonal-3, .hexagonal-4, .hexagonal-5, .hexagonal-6, .hexagonal-7, .hexagonal-8, .hexagonal-9, .hexagonal-10, .hexagonal-11, .hexagonal-12 {
    float: none;
    width: 100%; }

  .pad-space {
    padding: 0px; }

  .rant {
    box-shadow: 0 0 0 transparent; } }

/*# sourceMappingURL=nahl-hive.css.map */
